<html>
<script src='https://d3js.org/d3.v5.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-annotation/2.5.1/d3-annotation.min.js"></script>

<body onload='init()'>
<svg width=700 height=500>
</svg>

<div id="my_dataviz">
</div>

<head>
	<title>Overview of 2017 Vehicles</title>
</head>
<button onclick="window.location.href='https://jun-m-z.github.io/416DataVizD3/gas';">
      Zoom to Gasoline Cars Only
</button>
<button onclick="window.location.href='https://jun-m-z.github.io/416DataVizD3/electric';">
      Zoom to Electric Cars Only
</button>
<button onclick="window.location.href='https://jun-m-z.github.io/416DataVizD3/diesel';">
      Zoom to Diesel Cars Only
</button>

<style> circle {fill: lightblue; stroke: black;} </style>


<script>
async function init() {

const data = await d3.csv("https://raw.githubusercontent.com/jun-m-z/416DataVizD3/main/cars2017_addedcontinents.csv");
console.log(data);

const margin = 50, mwidth = 500, mheight = 500, gwidth = 400;

const svg = d3.select("svg");

var gYAx = svg.append("g")
  .attr("transform", "translate(" +margin+ "," +margin+ ")");

var xYAx = svg.append("g")
  .attr("transform", "translate(" +margin+ "," +(gwidth+margin)+ ")");


var xScale = d3.scaleLog()
  .domain([10, 150])
  .range([0, gwidth]);

var yScale = d3.scaleLog()
  .domain([10, 150])
  .range([gwidth, 0]);

var xAx = d3.axisBottom(xScale).tickValues([10,20,50,100]).tickFormat(d3.format("~s"));
var yAx = d3.axisLeft(yScale).tickValues([10,20,50,100]).tickFormat(d3.format("~s"));

gYAx.call(yAx);
xYAx.call(xAx);

svg.append("text")
      .attr("text-anchor", "end")
      .attr("x", 450)
      .attr("y", 500-20)
      .text("Average City MPG")
      .style("fill", "black");

svg.append("text")
      .attr("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("y", 20)
      .attr("x", -50)
      .text("Average Highway MPG")
      .style("fill", "black");





var color = d3.scaleOrdinal()
    .domain(["Europe", "NorthAmerica", "Asia" ])
    .range(["#21908dff", "#440154ff", "#fde725ff"]);

// Highlight the continent that is hovered
  var highlight = function(d){

    selected_cont = d.Continent

    d3.selectAll(".dot")
      .transition()
      .duration(200)
      .style("fill", "lightgrey")

    d3.selectAll("." + selected_cont)
      .transition()
      .duration(200)
      .style("fill", color(selected_cont))
      .attr("r", function(d) {return Number.parseInt(d.EngineCylinders) + 4;})
  }

  // Highlight the specie that is hovered
  var doNotHighlight = function(){
    d3.selectAll(".dot")
      .transition()
      .duration(200)
      .style("fill", function(d) {return color(d.Continent);})
      .attr("r", function(d) {return Number.parseInt(d.EngineCylinders) + 3;})
  }


var blank = svg.append("g")
  .attr("transform", "translate(" + 50 + "," + 50 + ")");

blank.selectAll("dot")
	.data(data)
	.enter()
	.append("circle")
		.attr("class", function(d) {return "dot " + d.Continent} )
		.attr("cx", function(d) {return xScale(d.AverageCityMPG);})
		.attr("cy", function(d) {return yScale(d.AverageHighwayMPG);})
		.attr("r", function(d) {return Number.parseInt(d.EngineCylinders) + 3;})
		.style("fill", function(d) {return color(d.Continent);})
	.on("mouseover", highlight)
    .on("mouseleave", doNotHighlight);


// Add legend: circles	
var valuesToShow = [0, 4, 12]
var xCircle = 490
var xLabel = 540
blank.selectAll("legend")
  .data(valuesToShow)
  .enter()
  .append("circle")
	.attr("cx", xCircle)
	.attr("cy", function(d){return 350-d})
	.attr("r", function(d){return 3+d})
	.style("fill", "none")
	.attr("stroke", "black");	
	
blank.selectAll("legend")
  .data(valuesToShow)
  .enter()
  .append("line")
	.attr('x1', function(d){ return xCircle + 0.8*d + 2} )
	.attr('x2', xLabel)
	.attr('y1', function(d){ return 350-2*d } )
	.attr('y2', function(d){ return 350-2*d } )
	.attr('stroke', 'black')
	.style('stroke-dasharray', ('2,2'))

blank.selectAll("legend")
  .data(valuesToShow)
  .enter()
  .append("text")
	.attr('x', xLabel)
	.attr('y', function(d){ return 350-2*d } )
	.text( function(d){ return d } )
	.style("font-size", 8)
	.attr('alignment-baseline', 'middle')

blank.append("text")
  .attr('x', xCircle)
  .attr("y", 300 +15)
  .text("Number of Engine Cylinders")
  .attr("text-anchor", "middle")
  .style("font-size", 10)

// Add one dot in the legend for each name.
var leg_size = 20
var allgroups = ["Europe", "NorthAmerica", "Asia"]
svg.selectAll("myrect")
  .data(allgroups)
  .enter()
  .append("circle")
	.attr("cx", 490)
	.attr("cy", function(d,i){return 280 + i*(leg_size+5)}) // 100 is where the first dot appears. 25 is the distance between dots
	.attr("r", 7)
	.style("fill", function(d){ return color(d)})
	//.on("mouseover", highlight)
	//.on("mouseleave", doNotHighlight)

// Add labels beside legend dots
svg.selectAll("mylabels")
  .data(allgroups)
  .enter()
  .append("text")
	.attr("x", 490 + leg_size*.8)
	.attr("y", function(d,i){ return 271 + i * (leg_size + 5) + (leg_size/2)}) // 100 is where the first dot appears. 25 is the distance between dots
	.style("fill", function(d){ return color(d)})
	.text(function(d){ return d})
	.attr("text-anchor", "left")
	.style("alignment-baseline", "middle")
	//.on("mouseover", highlight)
	//.on("mouseleave", doNotHighlight)

blank.append("text")
  .attr('x', xCircle)
  .attr("y", 200 +15)
  .text("Historical Corporate HQ")
  .attr("text-anchor", "middle")
  .style("font-size", 10);
  



svg.append("text")
	.attr("x", (gwidth*3/4))             
	.attr("y", 30)
	.attr("text-anchor", "middle")  
	.style("font-size", "20px") 
	.style("text-decoration", "underline")  
	.text("Fuel Efficiency and Historical Origin of Design, 2017");
	
blank.append("text")
  .attr('x', xCircle)
  .attr("y", 100 +15)
  .text("Overall Average Highway MPG: " + d3.format(".1f")(d3.mean(data, d => d.AverageHighwayMPG)))
  .attr("text-anchor", "middle")
  .style("font-size", 12);
  blank.append("text")
  .attr('x', xCircle)
  .attr("y", 120 +15)
  .text("Overall Average City MPG: " + d3.format(".1f")(d3.mean(data, d => d.AverageCityMPG)))
  .attr("text-anchor", "middle")
  .style("font-size", 12);
  blank.append("text")
  .attr('x', xCircle)
  .attr("y", 140 +15)
  .text("Overall Average Cylinders: " + d3.format(".1f")(d3.mean(data, d => d.EngineCylinders)))
  .attr("text-anchor", "middle")
  .style("font-size", 12);
  
}
</script>
</body>
</html>
